.backdrop {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.753);
}

.modal{
    position: fixed;
    top: 20rem;
    left: 5%;
    width: 90%;
    height:15rem;
    background-color: rgb(69, 148, 95);
    z-index: 30;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.8rem 0.2rem rgba(0, 0, 0, 0.75);
    animation: slide-down 300ms ease-out forwards;
}

.fail {
    position: fixed;
    top: 20rem;
    left: 5%;
    width: 90%;
    height:15rem;
    background-color: rgb(148, 81, 69);
    z-index: 30;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0.3rem 0.8rem 0.2rem rgba(0, 0, 0, 0.75);
    animation: slide-down 300ms ease-out forwards;

}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc( 50% - 20rem);
    }
    .fail {
        width: 40rem;
        left: calc( 50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}